footer {
  margin-top: 15rem;
}

footer p {
  margin-bottom: 3rem;
  text-align: center;
}
footer p:nth-child(even) {
  margin-left: 2.5rem;
}
.navContainer {
  display: flex;
  gap: 2rem;

  justify-content: center;
}

.navContainer li {
  list-style: none;
  font-size: 1.5rem;
}

.navContainer li a {
  text-decoration: none;
  color: rgb(53, 53, 53);
  font-weight: 500;
}

.navContainer li a:hover {
  color: rgba(53, 53, 53, 0.8);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgba(53, 53, 53, 0.5);
}
