.aboutMe {
  margin-top: 10rem;
  text-align: center;
}

.aboutMe h2 {
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: 5rem;
}

.aboutMe p {
  color: rgba(53, 53, 53, 0.7);
  font-weight: 700;
}
